@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.ads {
    position: fixed;
    top: -20px;
    right: 5px;
    width: 300px; /* Adjust width as needed */
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between ads */
}
